git+https://github.com/facebookresearch/segment-anything.git
torch==2.4.1
torchvision==0.19.1
opencv-python==4.10.0.84
numpy==2.1.1
matplotlib==3.9.2
Pillow==10.4.0
streamlit==1.38.0
streamlit-image-coordinates==0.1.9
streamlit-dimensions==0.0.1
